:root {
  --primary-color: #368f8b;
  --primary-color-rgb: 54, 143, 139;
  --secondary-color: #160f29;
  --secondary-color-rgb: 22, 15, 41;
  --tertiary-color: #f3dfc1;
  --tertiary-color-rgb: 243, 223, 193;
  --primary-dark-color: #246a73;
  --primary-dark-color-rgb: 36, 106, 115;
  --tertiary-dark-color: #ddbea8;
  --tertiary-dark-color-rgb: 221, 190, 168;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--secondary-color);
}

.slidev-layout h1 {
  font-size: 2.25rem;
  line-height: 1.5;
  border-bottom: 4px solid var(--primary-color);
}

.slidev-layout h2 {
  font-size: 2rem;
  line-height: 1.5;
  border-bottom: 4px solid var(--primary-color);
}

.slidev-layout {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 2rem 1.25rem;
  position: relative;
  color: var(--secondary-color);
  font-size: 1.125rem;
}

.slidev-layout > * {
  margin-bottom: 0.5rem;
}

.slidev-layout.cover h1 {
  width: 100%;
  margin-bottom: 5rem;
  font-weight: 500;
  font-size: 3.5rem;
  line-height: 1.5;
  border-bottom: 4px solid var(--primary-color);
}

.slidev-layout.cover h2 {
  border-bottom: none;
  margin-top: 0;
  margin-bottom: 2rem;
  font-size: 3rem;
  line-height: 1.5;
}

.slidev-layout.cover,
.slidev-layout.appendix {
  justify-content: center;
  border: 8px solid var(--primary-color);
  border-image: linear-gradient(to right, var(--primary-color), var(--primary-dark-color));
  border-image-slice: 1;
  padding: 3rem;
}

.slidev-layout ul {
  padding-left: 1rem;
}

.slidev-layout ul li {
  margin-bottom: 0.5rem;
}

.name,
.organization {
  width: 100%;
  font-size: 1.75rem;
  text-align: right;
  margin: 0.5rem 0;
}

.neumorphism {
  border-radius: 40px;
  background: #f7f7f7;
  box-shadow:
    10px 10px 10px #c0c0c0,
    -10px -10px 10px #ffffff;
}
